body{
    background-color: lavender;
}

/* navbar styling*/
.navbar {
    border-bottom: 2px solid black;
}

/* navbar heading styling */
.navbar-brand {
    font-weight: 600;
}

/* card styling */
.card {
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: 1px solid black;
    padding: 20px;
}

/* About Arwin image styling */
.arwin2 {
    float: left;
    margin: auto;
    margin-right: 1rem;
    height: 20rem;
    width: 14rem;
}

/*Portfolio image styling */
.img-fluid {
    margin-bottom: 1rem;
    height: auto;
    width: auto;
}

/* Footer styling */
footer {
        border-top: 2px solid black;
        padding: 2rem;
        text-align: center;
        opacity: 75%;
        background-color: grey;
}

