
.navbar {
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
}

.card {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.arwin2 {
    float: left;
    margin: 1rem 1rem 1rem 1rem;
    margin-top: ;
    height: 20rem;
    width: 15rem;
}

.card-text {
    clear: right;
}


.img-style {
    margin: auto;
    margin-bottom: 1rem;
    height: auto;
    width: 350px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

footer {
        border-top: 2px solid black;
        padding: 2rem;
        text-align: center;
}